body {
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #212529e7;
}

.search {
  position: relative;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgba(88, 88, 88, 0.454);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  border-color: rgb(36, 36, 39);
}
.submitBtn {
  position: relative;
  background-color: white;
  color: black;

  height: 50px;
  width: 110px;
  border-color: rgb(36, 36, 39);
}
.File {
  display: flex;
}
.File a {
  width: 40px;
  height: 40px;
}
/* input:disabled {
  background-color: white;
} */

/* input {
  padding: 5px;
  border-radius: 10px;
  border-color: rgba(229, 227, 227, 0.454);
} */
.form__group {
  position: relative;
  /* padding: 15px 0 0;
  margin-top: 10px;
  width: 50%; */
}
.form__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #212529e7;
  padding: calc(0.5rem * 1.5) 0.5rem;
  color: rgba(42, 42, 42, 0.406);
  background: transparent;
  border-radius: 4px;

  /* font-family: inherit;
  width: 90%;
  gap: 10px;
  /* margin: 1rem; */
  /* border: 0; */
  /* border-top: 2px solid gray; */
  /* border: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 7px 10px;
  background: transparent;
  transition: border-color 0.1s; */
}
.form__field::placeholder {
  color: transparent;
}

/* .form__field:placeholder-shown ~ .form__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #fab700;
  font-size: 1rem;
  cursor: text;
  top: 10px;
  padding: 10px;
  background: #d6d4d4;

  margin-left: 10px;
} */
/* .input {
  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(0.5rem * 0.75) calc(0.5rem * 0.5);
    margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * 0.5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(0.5rem * 1.5) 0.5rem;
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
      }
    }
  }
} */

.form__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(0.5rem * 0.75) calc(0.5rem * 0.5);
  margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: white;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  /* background-color: azure; */
  /* position: absolute;
  background: transparent;
  top: 0;
  display: block;
  margin-left: 1.5rem;
  transition: 0.1s;
  font-size: 1rem;
  color: gray; */
}
.form__field:focus + .form__label,
.form__field:not(:placeholder-shown) + .form__label {
  transform: translate(0.25rem, -65%) scale(0.8);
}
/* .form__field:focus,
.form__field:placeholder-shown ~ .form__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #fab700;
} */
/* .form__field:not(placeholder-shown) ~ .form__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #fab700;
  font-size: 1rem;
  cursor: text;
  top: 10px;
  padding: 10px;
  background: #d6d4d4;

  margin-left: 10px;
} */
/* padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1; */

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.count {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
